body{
    font-family: 'Poppins', sans-serif;
    margin: 0;  
    background-color:#F5F3FF;
    
}

header{
    background-color: #6D28D9;
    color: white;
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
margin-top:0.5rem;
}

.logo{
font-size:2.3rem;
font-weight:700;
letter-spacing:0.15rem;
text-transform:uppercase;
color:white;
margin-top:0.5rem;
}

.logo a{
text-decoration:none;
color:rgb(243, 237, 237);
transition:0.3s;
}

.logo a:hover{
color:#C4B5FD;
}



.catalog{
   width: 90%;
   margin:auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
}

.courses{
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    margin: 1%;
    padding: 1.25rem;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer{
    background-color: #6D28D9;
    color: white;
    text-align: center;
    padding: 1.25rem;
    margin-top: 1.25rem;
}

.courses img{
width:100%;
height:12rem;
object-fit:cover;
border-radius:0.5rem;
}


nav ul{
list-style:none;
}

nav ul{
list-style:none;
display:flex;
justify-content:center;
gap:2rem;
padding:0;
}

nav a{
text-decoration:none;
color:white;
}

nav a:hover{
color:#C4B5FD;
}


.courses img{
width:100%;
height:12rem;
object-fit:cover;
border-radius:0.4rem;
transition:transform 0.3s;
}

.courses:hover{
transform:scale(1.05);
}

@media (max-width: 768px){

.catalog{
flex-direction:column;
align-items:center;
}

.courses{
width:80%;
}

}

footer img{
width:2rem;
margin:0.5rem;
transition:0.3s;
}

footer img:hover{
transform:scale(1.2);
}

.card{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

html{
scroll-behavior:smooth;
}

body{
padding-top:70px;
}

.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
text-decoration:none;
font-size:20px;
z-index:1000;
}

h1{
font-size:2.5rem;
font-weight:700;
color:#6D28D9;
text-align:center;
margin-bottom:1rem;
}

#sobre{
background:#ffffff;
padding:3rem 2rem;
border-radius:1rem;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
width:100%;
}

#sobre p{
line-height:1.6;
color:#333;
font-size:1rem;
}

h2{
text-align:center;
color:#6D28D9;
margin-bottom:1.5rem;
}

footer h2{
color:white;
margin-bottom:1rem;
}

#sobre{
animation: aparecer 1s ease;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.custom-navbar{
background-color:#6D28D9;
}









